# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# .NET
bin/
obj/

# Node
node_modules/
.npm/

# Android
.idea/
.gradle/
local.properties
build/
app/build/
*.iml

# Environment
.env

# MacOS
.DS_Store
